
@font-face {
	font-family: 'Yekan';
	src: url('/asset/fonts/YekanBakhFaNum-Regular.woff');
	src: url('/asset/fonts/YekanBakhFaNum-Regular.woff') format('woff'); 
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}


.Wbicon{
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size:cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size:cover;
    display: inline-block;
    margin: 0px 9px;
}
.Wbicon__color-1{
    background-color:var(--mc1); 
}
.Wbicon__color-2{
    background-color:var(--mc2);
}
.Wbicon__color-3{
    color:var(--mc2);
}

.Wbicon__size-1{
    width: 32px;
    height: 32px;
}
.Wbicon__size-2{
    width: 48px;
    height: 32px;
}
.Wbicon__size-3{
    width: 48px;
    height: 36px;
}
.Wbicon__size-4{
    width: 24px;
    height: 24px;
}
.Wbicon__size-5{
    width:13.33px;
    height:13.33px;
}
.Wbicon__size-6{
    width:18px;
    border: 2px solid var(--mc2)l;
    color:var(--mc2);
    height: 2px;

}
.Wbicon__size-7{
    width:116px;
    height: 8px;
    border: 100px;
}
.header__Btn{
    border: 1px solid var(--mc1);
    border-radius: 8px;
    padding: 0;
    margin: 0;
}
.header__Btn-Text{
    width: 122px;
    height: 25px;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    color: var(--mc1);

}

.header__Menu >ul{
    display: flex;
    justify-content: flex-start;
}
.header__Menu >ul > li{
list-style-type: none;
margin-left: 10px;

}
.header__basket {
    position: relative;

}

.header__basket div{
    width: 24px;
    height: 24.33px;
    background-color: var(--mc1);
    color: white;
position: absolute;
top: 0;
right: 0;
display: flex;
justify-content: center;
align-items: center;
border-radius: 100%;
padding-top: 4px;
}


/*end header */

/* start slider  */

.main__Slider_Item{

    display: flex;
    position: relative;

}
.main__Slider{
    width: 100%;
    height: 100%;
  
}
.slider__Image{
    width: 100%;
    height: auto;
    height: 450px;
}

.main__Slider >.slick-prev{
    position: absolute;
    left: 89%;
    padding:0px  5px;
    z-index: 1;
}
.main__Slider >.slick-next{
    position: absolute;
    left:93%;
    padding:0px  10px;
    z-index: 1;
}

.home__Product_List .slick-prev{
    position:absolute;
    left: 1%;
    z-index: 1;
}

.home__Product_List .slick-next{
    position:absolute;
    left:97%;
    z-index: 1;
}


.main__Slider_Item-text{
height: 77%;
position: absolute;
top: 0;
right: 0;
font-weight: 700;
color: var(--mc2);
}

.main__Slider_Item-text >button{
    border:1px solid black;
    outline: none;
    background-color: inherit;
    padding: 5px;
    border-radius: 8px;

}

.main__Section-2__Item1{
font-size: 32px;
font-weight: 900;
line-height: 50px;
letter-spacing: 0em;
text-align: right;

}
.home__Product_Card{
    display: flex;
    padding:  10px;
    background-color: white;
}
.home__Product_Card figure {
    position: relative;
}
.home__Product_Card figure div{
position: absolute;
top: 20px;
left: 20px;
display: flex;
justify-content: center;
align-items: center;
width:38px ;
height: 24px;
background-color: var(--mc1);
line-height: 21.7px;
color: white;
border-radius: 4px;
}
.home__Product_Card img {
    width: 100%;
    border-radius: 16px;
}
























@media only screen and (max-width: 768px) {
    .slick-prev{
        left: 73%;
    }
    .slick-next{
        left:87%;
    } 
    ;
    .main__Slider_Item-text div:nth-of-type(1) span{
        font-size: 7px;
    }
    
    .main__Slider_Item-text div:nth-of-type(2) span:nth-of-type(1)
    {
    font-size: 10px;
    
    }

    .main__Slider_Item-text >button{
        padding: 2;
        font-size: 12px;
    }
  }
  @media only screen and (max-width:992px) {
    .main__Section-2__Item1{
        font-size: 20px;
        font-weight: 900;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
    }
  }
  
