.main,
header {
  background-color: rgba(248, 248, 248, 0.993);
}

@font-face {
  font-family: "Yekan";
  src: url("/asset/fonts/YekanBakhFaNum-Regular.woff");
  src: url("/asset/fonts/YekanBakhFaNum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

/* icons svg/ */
.Wbicon {
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  display: inline-block;
}

.Wbicon__color-1 {
  background-color: var(--mc1);
}

.Wbicon__color-2 {
  background-color: var(--mc2);
}

.Wbicon__color-3 {
  color: var(--mc2);
}
.Wbicon__color-4 {
  background-color: #e6f4f1;
}

.Wbicon__size-1 {
  min-width: 32px;
  width: 32px;
  height: 32px;
}
.Wbicon__size-2 {
  min-width: 32px;
  width: 32px;
  height: 30px;
}
.Wbicon__size-3 {
  min-width: 24px;
  width: 24px;
  height: 24px;
}
.Wbicon__size-4 {
  min-width: 16px;
  width: 16px;
  height: 16px;
}
.Wbicon__size-5 {
  min-width: 26px;
  width: 26px;
  height: 24px;
}
.Wbicon__size-6 {
  min-width: 48px;
  width: 48px;
  height: 2px;
}
.Wbicon__size-7 {
  min-width: 116px;
  width: 116px;
  height: 8px;
}
.Wbicon__size-8 {
  min-width: 24px;
  width: 24px;
  height: 2px;
}

.Wbicon__size-9 {
  min-width: 130px;
  width: 130px;
  height: 80px;
}

.Wbicon__size-10 {
  min-width: 22px;
  width: 22px;
  height: 21px;
}

.Wbicon__size-11 {
  min-width: 196px;
  width: 200px;
  height: 30px;
}
.Wbicon__size-12 {
  width: 2.25rem;
  min-width: 2.25rem;
  height: 1rem;
}
.Wbicon__size-13{
  width: 32px;
  min-width: 32px;
  height: 1.75rem;
}



/* icons svg/ */

/* start header  */

.header {
  background-color: #ffffff;
}
.header__section_1 {
  position: relative;
}

.header__basket {
  position: relative;
}
.header__basket div {
  position: absolute;
  min-width: 24px;
  width: 20px;
  height: 20px;
  background-color: var(--mc1);
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: -15px;
  padding-top: 4px;
}

.header__menu a {
  color: #616161;
  transition: 0.4s;
}

.header__menu a:hover {
  color: var(--mc1);
}

/* open header menu */
#openMenu {
  margin-top: 20px;
}

/* open header menu */
/* *******************buttonheader */
.header__Categories {
  min-width: 186px;
  width: 186px;
  height: 33px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.header__Categories span:nth-of-type(2){
  font-size: 14px;
}
.header__button__inner {
  min-width: 186px;
  width: 186px;
  height: 33px;
  border-radius: 8px;
  border: 1px solid var(--mc1);
  color: var(--mc1);
  display: flex;
  align-items: center;
  position: relative;
}

.header__button__inner::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  bottom: -100%;
  visibility: hidden;
  opacity: 0;
}
.header__button__out {
  min-width: 700px;
  height: 230px;
  min-height: 230px;
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.252);
  z-index: 1;
  right: 2px;
  top: 70px;
  padding: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  display: none;
}

/* hover button */
.header__Categories:hover .header__button__out {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
  background-color: #ffffff;
  display: block;
}

.header__Categories:hover .header__button__inner::before {
  visibility: visible;
  opacity: 1;
}

.SCat-Main {
  border-left: solid 1px #b2b2b2;
  width: 30%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.SCat-Main__Li {
  text-align: end;
  line-height: 40px;
  width: 100%;
}
.SCat-Main li a {
  color: #838383;
  font-weight: 600;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
}

.SCat-Main__Li .SCat-Main__Li__a::before {
  content: "\f053 ";
  font-family: "FontAwesome";
  font-weight: bold;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 176px;
}
.SCat-Main li :hover {
  color: var(--mc1);
}
.category__Title {
  position: absolute;
  width: calc(70% - 1rem);
  height: 2rem;
  left: 0;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px 0px 30px;
  visibility: hidden;
  opacity: 0;
}
.category__Title span:nth-of-type(1) {
  color: #242424;
  font-size: 12px;
  font-weight: 600;
}
.category__Title div:nth-of-type(1) span:nth-of-type(2) {
  font-size: 11px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  color: var(--mc1);
  cursor: pointer;
}
.category__Title div:nth-of-type(1) span:nth-of-type(1) {
  color: var(--mc1);
}
.category__Title::before {
  content: " ";
  width: 93%;
  height: 1px;
  position: absolute;
  bottom: 0;
  border-bottom: solid 1px #b2b2b2;
}

.SCat-Main-subMenu {
  position: absolute;
  width: calc(70% - 0.5rem);
  height: calc(78% - 2rem);
  top: 57px;
  left: 0px;
  padding: 0px 5px 0px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  visibility: hidden;
  opacity: 0;
}
.SCat-Main-subMenu li {
  direction: rtl;
}
.SCat-Main-subMenu li a::before {
  content: "•";
  width: 3px;
  height: 3px;
}

/*header category show and hide class*/

.SCat-Main__Li.show .category__Title {
  visibility: visible;
  opacity: 1;
}

.SCat-Main__Li.show .SCat-Main-subMenu {
  visibility: visible;
  opacity: 1;
}

/* *******************buttonheader */
.main__Slider__Item {
  position: relative;
}

.main__Slider__Item img {
  object-fit: cover;
  height: 500px;
  border-radius: 8px;
}
.main__Slider__Item figcaption {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}

/* end header  */
/* start main  */
/* start slider  */
/* section-1 */

/* ----------------------------------------------------------- */
/*                            Main                            */
/* ----------------------------------------------------------- */

/* ----------------------------------------------------------- */
/*                            start section 1                 */
/* ----------------------------------------------------------- */

.main__Section-1 {
  position: relative;
}

.main__Slider_Item {
  display: flex;
  position: relative;
}

.main__Slider {
  width: 100%;
  height: 100%;
}
.slider__Image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.main__Slider__Text {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 10px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: right;
}

.main__Slider__Text div div:nth-of-type(1) {
  color: #616161;
  text-align: right;
  font-size: 37px;
  font-style: normal;
  font-weight: 900;
  line-height: 55px;
}
.main__Slider__Text div div:nth-of-type(2) {
  position: relative;
  margin-right: 24px;
  color: #616161;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -30px;
}

.main__Slider__Text div div:nth-of-type(2)::before {
  content: " ";
  position: absolute;
  display: flex;
  width: 10%;
  height: 2px;
  background-color: #616161;
  right: -10%;
  top: calc(50% - 2px);
}

.btn__header__slider {
  margin-top: 20px;
  width: 165px;
  height: 36px;
  position: relative;
  z-index: 1;
}

.btn__header__slider button {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 8px;
  background-color: inherit;
  color: black;
  z-index: 9 !important;
}

.btn__header__slider button::before {
  content: "";
  display: flex;
  position: absolute;
  width: 55%;
  height: 85%;
  top: 7.5%;
  left: -7px;
  background-color: white;
  border-radius: 8px;
  z-index: -1;
  transition: 0.5s;
}

.btn__header__slider:hover button::before {
  width: 100%;
}

/* ----------------------------------------------------------- */
/*                            Slick                            */
/* ----------------------------------------------------------- */
/* general slick style */

.main__Section-1 .slick-next:before {
  mask-image: url(../svg/arrowleft.svg);
  -webkit-mask-image: url(../svg/arrowleft.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  display: inline-block;
  font-size: 0px;
  width: 20px;
  height: 20px;
  background-color: black;
  transition: 0.5s;
  top: 0px;
}
.main__Section-1 .slick-next:hover:before {
  background-color: white;
}
.main__Section-1 .slick-prev:before {
  mask-image: url(../svg/arrowRight.svg);
  -webkit-mask-image: url(../svg/arrowRight.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  display: inline-block;
  font-size: 0rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: black;
  transition: 0.5s;
  top: 0rem;
}
.main__Section-1 .slick-prev:hover:before {
  background-color: white;
}
.main__Section-1 .slick-next,
.main__Section-1 .slick-prev {
  background-color: transparent !important;
}
.append__Slider_Dot {
  display: flex;
}
.slick-dots {
  display: flex;
  align-items: end;
  justify-content: center;
}

.main__Section-1 .slick-dots li button::before {
  display: none;
}
.main__Section-1 .slick-dots li {
  width: 9px;
  height: 1px;
  border-radius: 10px;
  background: var(--tc1);
  transition: 0.5s;
  margin: 0 0.25rem;
  border: none;
}

.main__Section-1 .slick-dots li.slick-active {
  width: 27px;
  height: 2px;
  background: #242424;
}
.slick-dots li.slick-active button:before {
  background-color: black;
  width: 20px;
  height: 2px;
}
.slick-dots li button:before {
  content: "";
  background-color: #616161;
  width: 8px;
  height: 2px;
}

/* *************************************** slick dots ****************/
.append__Slider_Controls {
  margin-top: 20px;
  position: absolute;
  top: 80%;
  right: 7%;
}

/* section-1 */

/* section-2 */

/* slick start */

.slick-next {
  top: 46%;
  right: -3px;
}

.slick-next:before {
  mask-image: url(../svg/arrowLefft.svg);
  -webkit-mask-image: url(../svg/arrowLefft.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  display: inline-block;
  font-size: 0px;
  width: 12px;
  min-width: 12px;
  height: 16px;
  border-radius: 100%;
  background-color: #b1b1b1;
}
.slick-next:hover:before {
  background-color: var(--mc1);
}

.slick-prev {
  top: 45%;
  left: -3px;
}

.slick-prev,
.slick-next {
  z-index: 10;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: white;
}

.slick-prev:before {
  mask-image: url(../svg/arrowRigght.svg);
  -webkit-mask-image: url(../svg/arrowRigght.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  display: inline-block;
  font-size: 0px;
  width: 12px;
  min-width: 12px;
  height: 16px;
  border-radius: 100%;
  background-color: #b1b1b1;
}

.slick-prev:hover:before {
  background-color: var(--mc1);
}
/* 


 /* ----------------------------------------------------------- */
/*                       start section 2          */
/* ----------------------------------------------------------- */

/* slick  end */

.first__item p {
  color: #242424;
  font-size: 32px;
  font-weight: 900;
  line-height: normal;
}
.slick-list{
  margin: 0px -8px;

}

.home__Product_Card {
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  margin: 0px 8px;
}
.main__Slider_Item-text > button {
  border: 1px solid black;
  outline: none;
  background-color: inherit;
  padding: 5px;
  border-radius: 8px;
}

.main__Section-2__Item1 {
  color:var(--tc1);
text-align: right;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.main__Section-2__Item1 .afterLine {
  width: 116px;
  height: 8px;
  display: flex;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.main__Section-2__Item1 .afterLine::after {
  content: "";
  width: 8px;
  height: 8px;
  display: flex;
  border-radius: 100%;
  background-color: var(--mc1);
}
.main__Section-2__Item1 .afterLine::before{
  content: "";
  width: 100px;
  height: 3px;
  display: flex;
  border-radius: 100rem;
  background-color: var(--mc1);
}

.main__Section-2__Item1 .beforLine {
  width: 116px;
  height: 8px;
  display: flex;
  position: relative;
  margin-left: 16px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.main__Section-2__Item1 .beforLine::after {
  content: "";
  width: 8px;
  height: 8px;
  display: flex;
  border-radius: 100%;
  background-color: var(--mc1);
}

.main__Section-2__Item1 .beforLine::before{
  content: "";
  width: 100px;
  height: 3px;
  display: flex;
  border-radius: 100rem;
  background-color: var(--mc1);
}


.home__Product_List {
  margin: 0px -8px;
}


.home__Product_Card figure {
  position: relative;
}
.home__Product_Card figure div:nth-of-type(1) {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.375rem;
  height: 1.5rem;
  background-color: var(--mc1);
  color: white;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}
.home__Product_Card figure div:nth-of-type(2) {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.375rem;
  width: 2.375rem;
  height: 2.375rem;
  background-color: white;
  border-radius: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.home__Product_Card:hover.home__Product_Card figure div:nth-of-type(2) {
  visibility: visible;
  opacity: 1;
}
.home__Product_Card img {
  width: 100%;
  border-radius: 16px;
}
.home__Product_Card figcaption div:nth-of-type(1) {
  color: #242424;
  font-size: 16px;
  font-weight: 700;
}

.home__Product_Card figcaption div:nth-of-type(2) {
  align-items: center;
}

.home__Product_Card figcaption div:nth-of-type(2) div:nth-of-type(1) {
  margin-right: 16px;
  font-weight: 700;
  font-size: 18px;
  color: #616161;
}

.home__Product_Card figcaption div:nth-of-type(2) div:nth-of-type(2) {
  color: #b1b1b1;
  height: 25px;
  font-size: 14px;
  text-decoration: line-through !important;
  text-decoration-color: #616161;
}

.home__Product_Card figcaption div:nth-of-type(2) div:nth-of-type(3) {
  min-height: 38px;
  width: 38px;
  height: 38px;
  background-color: var(--mc1);
  border-radius: 100%;
  position: relative;
  margin: 0px 0px 0px 10px;
}

.home__Product_Card figcaption div:nth-of-type(3) span {
  font-size: 16px;
  text-decoration: line-through !important;
  color: #616161;
}

.main__Section-2__Item1 {
  font-size: 26px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: right;
}

/* section-2 */

/* start main__Section-3 */

/* ----------------------------------------------------------- */
/*                       start section 3         */
/* ----------------------------------------------------------- */

.plugins__Item_1 figure {
  border-radius: 16px;
}

.plugins__Item_1 figure img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}


.plugins__Item_2 div span {
  margin-right: 16px;
}

.plugins__Item_2 div:nth-of-type(1) {
  width: 70%;
  display: flex;
  font-size: 12px;
  text-align: end;
  color: #616161;
  margin-bottom: 15px;
}

.plugin__btn {
  width: 165px;
  height: 36px;
  background-color: inherit;
  color: var(--mc1);
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
  margin-bottom: 100px;
}
.plugin__btn button {
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: var(--mc1);
  border: none;
  border: 1px solid var(--mc1);
  border-radius: 8px;
  z-index: 10 !important;
}
.plugin__btn::before {
  content: "";
  width: 56%;
  height: 80%;
  background-color: #e6f4f1;
  z-index: 1;
  position: absolute;
  left: -8px;
  border-radius: 8px;
  transition: 0.5s;
}
.plugin__btn:hover.plugin__btn::before {
  width: 100%;
}

/* end main__Section-3 */

/* start main__Section-4 */

/* ----------------------------------------------------------- */
/*                       start section 4          */
/* ----------------------------------------------------------- */

.home__Plugins_List .slick-prev {
  left: 17px;
}

.home__Plugins_List .slick-next {
  right: 17px;
}

.main__Section-4 {
  margin-top: -100px;
  z-index: 10px;
}

.home__Plugins_Card {
  border-radius: 16px;
  background-color: white;
  padding: 16px;
  margin: 0px 8px;
}

.home__Plugins_Card figure {
  position: relative;
  width: 320px;
  display: flex;
  justify-content: center;
}
.home__Plugins_Card img {
  border-radius: 16px;
  width: 95%;
}

.home__Plugins_Card figure div:nth-of-type(1) {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 24px;
  background-color: var(--mc1);
  line-height: 21.7px;
  color: white;
  border-radius: 4px;
}
.home__Plugins_Card figure div:nth-of-type(2) {
  position: absolute;
  top: 20px;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 38px;
  background-color: white;
  border-radius: 100%;
}

.home__Plugins_Card figcaption div:nth-of-type(1) {
  font-weight: 700;
  font-size: 16px;
  height: 40px;
}

.home__Plugins_Card figcaption div:nth-of-type(2) {
  height: 40px;
}

.home__Plugins_Card figcaption div:nth-of-type(2) div:nth-of-type(1) {
  width: 50%;
  font-size: 18px;
  color: #616161;
}

.home__Plugins_Card figcaption div:nth-of-type(2) div:nth-of-type(1) > span {
  font-size: 12px;
}

.home__Plugins_Card figcaption div:nth-of-type(2) div:nth-of-type(2) {
  min-height: 38px;
  width: 38px;
  height: 38px;
  background-color: var(--mc1);
  border-radius: 100%;
  position: relative;
  margin: 0px 0px 0px 10px;
}

/* ----------------------------------------------------------- */
/*                       start section 6          */
/* ----------------------------------------------------------- */

/* start main__Section-6 */

.main__Section-6__Item figure {
  border-radius: 16px;
}

.main__Section-6__Item figure img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.main__Section-6__Item figure:nth-of-type(1) {
  margin-top: 4rem;
}
.main__Section-6__Item figure:nth-of-type(2) {
  margin: 0px 16px;
}
.main__Section-6__Item figure:nth-of-type(3) {
  margin-top: 4rem;
}

.main__Section-6__Item figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.main__Section-6__Item figure figcaption p {
  margin: 5px 0px;
  color: #616161;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__Section-6__Item figure figcaption button {
  margin: 10px 0px;
  border: 1px solid var(--mc1);
  padding: 3px 7px;
  background-color: inherit;
  color: var(--mc1);
  border-radius: 8px;
}

/* end main__Section-6 */
/* ----------------------------------------------------------- */
/*                       start section 7           */
/* ----------------------------------------------------------- */

/* start  main__Section-7 */

.main__Section-7 {
  padding-bottom: 80px;
}

.main__Section-7__Item1 div {
  background-color: white;
  border-radius: 16px;
}
.main__Section-7__Item1 div:nth-of-type(2) {
  margin: 0px 16px;
}

.main__Section-7__Item1 p {
  color: #005c6d;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.circleBox span {
  position: absolute;
  display: flex;
}
.circleBox span:nth-of-type(1) {
  top: 6%;
  left: 26%;
}

/* end main__Section-7 */

/* end main */

/* ----------------------------------------------------------- */
/*                       Footer           */
/* ----------------------------------------------------------- */

/* start footer */

.footer__Section-1 {
  position: relative;
  height: 70px;
}

.footer__Section-1 figure img {
  width: 82.2px;
  height: 68.75px;
  margin-top: -15px;
  z-index: 1;
}

.footer__Section-1 div {
  position: absolute;
}

.footer__Section-1 span {
  display: flex;
  position: absolute;
  top: -23px;
  left: calc(50% - 100px);
}
.footer__Section-2__BoxIcon {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  transition: 0.5s;
  cursor: pointer;
}
.footer__Section-2__BoxIcon:hover {
  background-color: #e6f4f1;
  border: 1px solid var(--mc1);
}
.footer__Section-2__BoxIcon img {
  border-radius: 100%;
}

.footer__Section-3 {
  padding: 0px 25px;
  margin-top: 20px;
  height: 70px;
}
.footer__Section-3 nav{
  padding-top: 20px;
  border-top: 1px solid #B1B1B1;
}

.footer__Section-3 li {
  list-style-type: none;
  color: var(--tc1);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 65px;
  height: 15px;
  transition: 0.5s;
  cursor: pointer;
  padding-left: 2px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.footer__Section-3 li:not(li:first-child) {
  border-left: 1px dashed #b1b1b1;
}

.footer__Section-3 li:hover {
  color: var(--mc1);
}

/* .footer__Section-4 */

.footer__Section-4 div {
  border-radius: 8px;
  border: 1px solid #979797;
  font-size: 12px;
  line-height: 18px;
  color: #979797;
  margin-bottom: 40px;
}
.footer__Section-4 div a {
  color: #979797;
  transition: 2.5s;
}

/* footer section-5 */
.footer__Section-5 {
  height: 50px;
}

.footer__Section-5 div {
  display: flex;
  align-items: start;
}

.footer__Section-5 div a {
  font-weight: 700;
  color: #b1b1b1;
  font-size: 0.875rem;
}

/* end footer */

/* ----------------------------------------------------------- */
/*                     BTNS         */
/* ----------------------------------------------------------- */

.btns {
  width: 157px;
  height: 36px;
  /* background-color: inherit; */
  color: var(--mc1);
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
}
.btns button {
  width: 100%;
  height: 100%;
  /* background-color: inherit; */
  color: var(--mc1);
  border: none;
  border: 1px solid var(--mc1);
  border-radius: 8px;
  z-index: 10;
}
.btns::before {
  content: "";
  width: 58%;
  height: 80%;
  background-color: #e6f4f1;
  z-index: 1;
  position: absolute;
  left: -8px;
  border-radius: 8px;
  transition: 0.5s;
}
.btns:hover.btns::before {
  width: 100%;
} /* ----------------------------------------------------------- */
/*                       control__Panel           */
/* ----------------------------------------------------------- */

.control__Panel_Wrapper {
  position: fixed;
  bottom: 0.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  padding: 2px;
  filter:  drop-shadow(7px 7px 15px rgba(0, 0, 0, 0.15))
}

.search__ShadowBox {
  width: calc(50% - 65px);
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  padding-top: 6px;
}

.search__ShadowBox::after{
  content: " ";
  position: absolute;
  display: flex;
  width:6px;
  height:100%;
  background-color:white;
  right: -3px;
  top: 0;
}



.bottomCircle {
  width: 130px;
  position: relative;
  backdrop-filter: blur(2px);
}
.phone__CtgBtn {
  width: calc(50% - 64px);
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  padding-top: 6px;
}
.phone__CtgBtn::after{
  content: " ";
  position: absolute;
  display: flex;
  width:6px;
  height:100%;
  background-color:white;
  left: -3px;
  top: 0;

}

.bottomCircle div:nth-of-type(1) {
  background-color: white;
  height: 100%;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  clip-path: path(
    "M65 62C98.1371 62 125 35.1371 125 2C125 1.33072 124.989 0.663994 124.967 0H130V80H0V0H5.03271C5.01096 0.663994 5 1.33072 5 2C5 35.1371 31.8629 62 65 62Z"
  );
  -webkit-clip-path: path(
    "M65 62C98.1371 62 125 35.1371 125 2C125 1.33072 124.989 0.663994 124.967 0H130V80H0V0H5.03271C5.01096 0.663994 5 1.33072 5 2C5 35.1371 31.8629 62 65 62Z"
  );
}

/* icon basket */
.control__Basket {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 50px);
}
.control__Basket a {
  position: relative;
}
.control__Basket a span:nth-of-type(2) {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--mc1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: -13px;
  color: white;
}

/* ----------------------------------------------------------- */
/*                  main__ShadowBox                           */
/* ----------------------------------------------------------- */

.main__ShadowBox {
  width: 100%;
  height: 120%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(100%);
  transition: 0.4s;
}
.mainMenu {
  min-width: 280px;
  width: 320px;
  height: 120%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  transform: translateX(100%);
  transition: 0.4s;
}

.menu__Social {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}
.menu__Social a {
  width: 123px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--tc1);
  border: 1px solid var(--tc1);
  border-radius: 8px;
  text-decoration: none;
}

.menu__Social a:nth-of-type(1) {
  margin-right: 12px;
}

/* ******** SCat-Main ******* */
.SCat-Nav {
  margin-top: 39px;
  display: flex;
  position: relative;
}
.SCat-Nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.SCat-Nav ul li {
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.SCat-Nav ul li:not(:first-child) {
  border-top: 1px solid #c4c4c4;
}

.SCat-Nav ul li:nth-of-type(1) a {
  color: var(--mc1);
}

.SCat-Nav ul li:nth-of-type(5) a {
  color: var(--mc1);
}
.SCat-Nav ul li a {
  color: var(--tc1);
  font-size: 14px;
  font-weight: 900;
  line-height: 22px;
  text-align: right;
  text-decoration: none;
  width: auto;
}
.SCat-Nav ul li:hover a {
  color: var(--mc1);
}

.SCat-Nav ul li:hover .fa-solid {
  color: var(--mc1);
}

.SCat-Nav > ul > li > .SCat-Nav__subMenu {
  min-width: 280px;
  width: 320px;
  height: 800px;
  background-color: white;
  top: -100px;
  right: -10px;
  padding: 0px 1rem;
  margin-top: 20px;
  position: absolute;
  transition: 0.5s;
}

.SCat-Nav__subMenu span {
  color: var(--tc1);
  font-size: 16px;
  font-weight: 900;
  line-height: 25px;
  text-align: left;
  text-align: end;
  cursor: pointer;
}

.SCat-Nav__subMenu li {
  height: 50px;
  width: 100%;
  background-color: yellow;
  display: flex;
}
.SCat-Nav__subMenu li:nth-of-type(1) a {
  color: var(--mc1);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.SCat-Nav__subMenu li a {
  color: var(--mc2);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.5s;
}

.active {
  transform: translateX(130%);
}

.CtgSearch {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 124.5px 22.5px 22.5px 22.5px;
  transition: 0.5s;
}
.CtgSearch .CtgSearch__closeIcon {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 22.5px;
  height: 22.5px;
  background-color: var(--mc1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.CtgSearch .CtgSearch__Input {
  position: relative;
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
}
.CtgSearch .CtgSearch__Input input {
  width: 100%;
  border-radius: 8px;
  padding: 12px 22px 12px 0px;
  direction: rtl;
}
.CtgSearch .CtgSearch__Input span {
  position: absolute;
  left: 8px;
  top: calc(50% - 16px);
}



/* ----------------------------------------------------------- */
/*                           media                             */
/* ----------------------------------------------------------- */

@media (max-width: 992px) {

  body {
    padding-bottom: 95px;
  }

  .btn__header__slider {
    margin-top: 38px;
    width: 165px;
  }

  .plugins__Item_2 div:nth-of-type(2) {
    width: 100%;
  }

  .plugins__Item_2 div:nth-of-type(3) {
    margin-bottom: 80px;
  }

  .main__Slider__Text {
    padding-right: 26px;
  }

  .main__Slider__Text div div:nth-of-type(1) {
    color: #616161;
    text-align: right;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
  }

  .main__Slider__Text div div:nth-of-type(2) {
    margin-top: -80px;
    font-size: 18px;
  }

  .append__Slider_Controls {
    right: 10%;
  }



  .main__Section-2__Item1 {
    font-size: 20px;
  }

  .plugins__Item_2 {
    padding-right: 20px;
  }

  .plugins__Item_2 div h3 {
    font-size: 20px;
  }
  .footer__Section-2__BoxIcon {
    margin: 0px 5px;
  }
}

  @media (max-width: 768px) {

    .btns{
      width: 130px;
      font-size: 14px;
    }
    .main__Section-2__Item1 .beforLine,
    .main__Section-2__Item1 .afterLine{
      display: none;
    }
    .main__Section-6__Item figure:nth-of-type(1) {
      margin-top: 0px;
    }
    .main__Section-6__Item figure:nth-of-type(2) {
      margin: 30px 0px;
    }
    .main__Section-6__Item figure:nth-of-type(3) {
      margin-top: 0px;
    }

    .plugin__btn {
      margin-bottom: 30px;
    }
    .append__Slider_Controls {
      right: 19%;
    }
    .plugins__Item_2 div:nth-of-type(2) {
      width: 40%;
      text-align: center;
    }
    header figure img {
      width: 66.536px;
      height: 56.831px;
    }

    .main__Slider__Text {
      padding-right: 30px;
    }

    .main__Slider__Text div div:nth-of-type(1) {
      color: #616161;
      text-align: right;
      font-size: 20px;
      font-style: normal;
      font-weight: 900;
    }

    .main__Slider__Text div div:nth-of-type(2) {
      margin-top: 0px;
      font-size: 16px;
    }

    .append__Slider_Controls {
      right: 14%;
    }

    .main__Slider__Text div div:nth-of-type(1) span br {
      display: flex !important;
    }

 

    .main__Slider_Item-text > button {
      padding: 2;
      font-size: 12px;
    }

    .plugins__Item_1 {
      order: 1;
    }
    .plugins__Item_2 {
      order: 0;
      margin-bottom: 20px;
    }

    .main__Section-4 {
      padding-left: 0px;
      margin-top: -100px;
      z-index: 10px;
    }

    .main__Section-6__Item figure img {
      position: relative;
      border-radius: 16px;
    }

    .main__Section-6__Item figure figcaption {
      position: absolute;
      width: 190px;
      height: 100px;
      border-radius: 16px;
      background-color: #ffffff;
      border: 1px solid rgba(235, 235, 235, 0.377);
    }

    .main__Section-6__Item figure:nth-of-type(1) img {
      width: 60%;
      justify-content: flex-start;
    }
    .main__Section-6__Item figure:nth-of-type(1) {
      display: flex;
      justify-content: flex-start;
    }

    .main__Section-6__Item figure:nth-of-type(2) {
      display: flex;
      justify-content: center;
      object-fit: contain;
    }

    .main__Section-6__Item figure:nth-of-type(2) img {
      width: 80%;
      height: 80%;
    }
    .main__Section-6__Item figure:nth-of-type(3) {
      display: flex;
      justify-content: flex-end;
    }

    .main__Section-6__Item figure:nth-of-type(3) img {
      width: 60%;
    }

    .main__Section-6__Item figure:nth-of-type(1) figcaption {
      top: calc(60% - 50px);
      left: calc(70% - 95px);
    }
    .main__Section-6__Item figure:nth-of-type(2) figcaption {
      top: calc(73% - 50px);
      left: calc(50% - 95px);
    }
    .main__Section-6__Item figure:nth-of-type(3) figcaption {
      top: calc(60% - 50px);
      right: calc(70% - 95px);
    }

    .Wbicon__size-11 {
      width: 25px;
      height: 25px;
    }
  }


@media (max-width: 576px) {
  .Wbicon__size-6 {
    min-width: 10px;
  }
  .append__Slider_Controls {
    right: 18%;
  }
}
